<%- contentFor('title') %>
CaffeeCafe - Menu

<%- contentFor('style') %>

<%- contentFor('headScript') %>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="javascripts/main.js"></script>

<%- contentFor('body') %>

<div id="content-2" style="display: block;">

    <div class="header-box">
        <div class="text-body" style="background-color: rgba(0, 0, 0, 0.5); padding: 15px;">
            <h1>Our Menu here</h1>
        </div>
    </div>

    <div class="parallax menu-container">
        <div class="container menu-box" style="background-color: rgba(0, 0, 0, 0.5);">
            <h1 data-aos="fade-in" data-aos-duration="1250">Hot Coffee</h1>
            <br>
            <div class="row text-center" data-aos="fade-in" data-aos-duration="1250">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/hot/americano.jpg" alt="Americano">
                        <div class="card-body">
                            <h4 class="card-title">Americano</h4>
                        </div>
                        <!-- <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/hot/cappuccino.jpg" alt="Cappuccino">
                        <div class="card-body">
                            <h4 class="card-title">Cappuccino</h4>
                        </div>
                        <!-- <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/hot/con-panna.jpg" alt="Con-panna">
                        <div class="card-body">
                            <h4 class="card-title">Con-panna</h4>
                        </div>
                        <!-- <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/hot/doppio.jpg" alt="Doppio">
                        <div class="card-body">
                            <h4 class="card-title">Doppio</h4>
                        </div>
                        <!-- <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="row text-center" data-aos="fade-in" data-aos-duration="1250">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/hot/espresso.jpg" alt="Espresso">
                        <div class="card-body">
                            <h4 class="card-title">Espresso</h4>
                        </div>
                        <!-- <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/hot/latte.jpg" alt="Latte">
                        <div class="card-body">
                            <h4 class="card-title">Latte</h4>
                        </div>
                        <!-- <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/hot/longblack.jpg" alt="Longblack">
                        <div class="card-body">
                            <h4 class="card-title">Long Black</h4>
                        </div>
                        <!-- <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/hot/lungo.jpg" alt="Lungo">
                        <div class="card-body">
                            <h4 class="card-title">Lungo</h4>
                        </div>
                        <!-- <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="row text-center" data-aos="fade-in" data-aos-duration="1250">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/hot/ristretto.jpg" alt="Ristretto">
                        <div class="card-body">
                            <h4 class="card-title">Ristretto</h4>
                        </div>
                        <!-- <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="menu-content-box" id="box-food-1">
        <div class="container menu-box" style="background-color: rgba(0, 0, 0, 0.5);">
            <h1 data-aos="fade-in" data-aos-duration="1250">Iced Coffee</h1>
            <br>
            <div class="row text-center" data-aos="fade-in" data-aos-duration="1250">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/iced/affogato.jpg" alt="Affogato">
                        <div class="card-body">
                            <h4 class="card-title">Affogato</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/iced/coconut-mochaccino.jpg"
                            alt="Coconut-mochaccino">
                        <div class="card-body">
                            <h4 class="card-title">Coconut Mochaccino</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/iced/cold-brew.jpg" alt="Cold-brew">
                        <div class="card-body">
                            <h4 class="card-title">Cold Brew</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/iced/frappe.jpg" alt="Frappe">
                        <div class="card-body">
                            <h4 class="card-title">Frappe</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax menu-container">
        <div class="container menu-box" style="background-color: rgba(0, 0, 0, 0.5);">
            <h1 data-aos="fade-in" data-aos-duration="1250">Non-Coffee</h1>
            <br>
            <div class="row text-center" data-aos="fade-in" data-aos-duration="1250">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/non/black-tea.jpg" alt="Iced-black-tea">
                        <div class="card-body">
                            <h4 class="card-title">Iced Black Tea</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/non/chocolate.jpg" alt="Iced-chocolate">
                        <div class="card-body">
                            <h4 class="card-title">Iced Chocolate</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/non/matcha.jpg" alt="Iced-matcha">
                        <div class="card-body">
                            <h4 class="card-title">Iced Matcha</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/non/milo.jpg" alt="Iced-dino-milo">
                        <div class="card-body">
                            <h4 class="card-title">Iced Dino-Milo</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row text-center" data-aos="fade-in" data-aos-duration="1250">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/non/vanilla.jpg" alt="Iced-vanilla">
                        <div class="card-body">
                            <h4 class="card-title">Iced Vanilla Smoothies</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/non/choco.jpg" alt="Iced-choco-smoothies">
                        <div class="card-body">
                            <h4 class="card-title">Iced Choco Smoothies</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-content-box" id="box-food-2">
        <div class="container menu-box" style="background-color: rgba(0, 0, 0, 0.5);">
            <h1 data-aos="fade-in" data-aos-duration="1250">Toast</h1>
            <br>
            <div class="row text-center" data-aos="fade-in" data-aos-duration="1250">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/toast/avocado.jpg" alt="Avocado-toast">
                        <div class="card-body">
                            <h4 class="card-title">Avocado Toast</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/toast/bacon.jpg" alt="Bacon-toast">
                        <div class="card-body">
                            <h4 class="card-title">Bacon Toast</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/toast/butter.jpg" alt="Butter-toast">
                        <div class="card-body">
                            <h4 class="card-title">Butter Toast</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/toast/egg-mayo.jpg" alt="Egg-mayo-toast">
                        <div class="card-body">
                            <h4 class="card-title">Egg Mayo Toast</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row text-center" data-aos="fade-in" data-aos-duration="1250">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/toast/egg.jpg" alt="Egg-cheese-toast">
                        <div class="card-body">
                            <h4 class="card-title">Egg & Cheese Toast</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/toast/pizza.jpg" alt="Pizza-toast">
                        <div class="card-body">
                            <h4 class="card-title">Pizza Toast</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax menu-container">
        <div class="container menu-box" style="background-color: rgba(0, 0, 0, 0.5);">
            <h1 data-aos="fade-in" data-aos-duration="1250">Cookies</h1>
            <br>
            <div class="row text-center" data-aos="fade-in" data-aos-duration="1250">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/cookies/almond.jpg" alt="Almond-cookies">
                        <div class="card-body">
                            <h4 class="card-title">Almond Cookies</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/cookies/cheese.jpg" alt="Cheese-cookies">
                        <div class="card-body">
                            <h4 class="card-title">Cheese Cookies</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/menu/cookies/chip.jpg" alt="Choco-chip-cookies">
                        <div class="card-body">
                            <h4 class="card-title">Choco Chip Cookies</h4>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('bodyScript') %>

<script>
    AOS.init();
</script>